<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>FLASH CARD - Mypage</title>
</head>
<body>
    <h1>FLASH CARD</h1>
    <ul>
        <li><a href="/mypage/words">Word List</a></li>
        <li><a href="/mypage/questions">Start Practice</a></li>
    </ul>
    <form method="post">
        <fieldset>
            <legend>Create</legend>

            <label for="english">
                <p>English</p>
            </label>
            <input type="text" name="english" value="<%= newWord.english %>"><span><%= errorMsgs.english %></span>
            
            <label for="japanese">
                <p>Japanese</p>
            </label>
            <input type="text" name="japanese" value="<%= newWord.japanese %>"><span><%= errorMsgs.japanese %></span>

            <label for="comment">
                <p>Comment</p>
            </label>
            <textarea name="comment" cols="40" rows="4"><%= newWord.comment %></textarea>
            <div id="submit">
                <input type="submit" value="Send">
            </div>
        </fieldset>
    </form>
    <p>User ID : <%= userId %></p>
    <p>Name : <%= name %></p>
    <p>Email : <%= email %></p>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/unsubscribe">Unsubscribe</a></li>
        <li><a href="/">Top</a></li>
    </ul>
</body>

</html>
