<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Web単語帳 - 新規登録</title>
</head>
<body>
    <h1>新規登録</h1>
    <form method="POST">
        <p>お名前 : <input type="text" name="name" value="<%= userValues.name %>"><%= errorMsgs.name %></p>
        <p>メールアドレス : <input type="text" name="email" value="<%= userValues.email %>"><%= errorMsgs.email %></p>
        <p>パスワード : <input type="password" name="password" value="<%= userValues.password %>"><%= errorMsgs.password %></p>
        <input type="submit" value="送信">
    </form>
    <ul>
        <li><a href="/login">ログイン</a></li>
        <li><a href="/">トップ</a></li>
    </ul>
</body>
</html>