<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>FLASH CARD - Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="POST">
        <p>Name :</p>
        <p class="form-values"><input type="text" name="name" value="<%= userValues.name %>"></p>
        <span class="err-msg"><%= errorMsgs.name %></span>
        <p>Email :</p>
        <p class="form-values"><input type="text" name="email" value="<%= userValues.email %>"></p>
        <span class="err-msg"><%= errorMsgs.email %></span>
        <p>Password :</p>
        <p class="form-values"><input type="password" name="password" value="<%= userValues.password %>"></p>
        <span class="err-msg"><%= errorMsgs.password %></span>
        <div id="submit">
            <input type="submit" value="Send">
        </div>
    </form>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/">Top</a></li>
    </ul>
</body>
</html>